/* common shared styles */
body{
    font-family: 'Lato', sans-serif;
    font-family: "Open Sans", sans-serif;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 18px 35px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* nav related styles */
nav{
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

/* header related style */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-width: 500px;
}

.banner .profile-pic{
    width: 500px;
}

.banner-greeting{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}

.info-title{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}

.info-description{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

#what-i-do-description{
    padding: 30px 150px;
}


/* skills related styles */
.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* Resume Section Styles */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container{
    display: flex;
    gap: 70px;
}

.resume-item-institute, .resume-item-description{
    color: #757575;
}

.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-container hr{
    margin-left: 30px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}

/* footer styles */
footer{
    display: flex;
    gap: 100px;
    background-color: #fff8f3;
    margin-top: 100px;
    padding: 130px 200px;
}

.footer-column{
    width: 50%;
}

.social-links a{
    margin-right: 25px;
}

.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    background-color: white;
    border: 0;
    border-radius: 5px;
    width: 100%;
}